/*********************** Colors Section ***********************/
.header-nav-menu-bg-color{
    background-color: #18A558;
}
.bar-chart-container-bg-color{
    background-color: snow;
}
.code-info-container-bg-color{
    background-color: snow;
}

/*********************** Header Section ***********************/
.company-logo{
    background: url("../images/Sorting-Visualiser-Logo.png");
    min-height: 100px;
    width: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}

/*********************** Chart Section ***********************/
.single-bar{
    display: inline-block;
    margin: 10px 1px 0px 1px;
    width: 10px;
    height: 100px;
    background-color: #198754;
}

#bar-chart{
    margin-top: 50px;
    margin-bottom: 50px;
}
.no-padding {
   padding: 0 !important;
}

/*********************** Chart Buttons Section ***********************/
.gen-bars-button{
    width: 95%;
    margin-left: 10px;
}
.sort-bars-button{
    width: 95%;
    margin-left: 10px;
}
.select-algo-button{
    width: 95%;
    margin-left: 10px;
}
.select-algo-container{
    display: block;
}
.slidecontainer {
    width: 95%;
    margin-left: 10px;
    border: 1px solid #198754;
    background-color: #198754;
    border-radius: .25rem;
    height: 38px; /* Specified height */
}
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 50%; /* Full-width */
    height: 35px; /* Specified height */
    vertical-align: middle;
    background: silver; /* Grey background */
    outline: none; /* Remove outline */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: .25rem;
}
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 35px; /* Set a specific slider handle width */
    height: 35px; /* Slider handle height */
    background: #198754; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: .25rem;
}
.slider::-moz-range-thumb {
    width: 35px; /* Set a specific slider handle width */
    height: 35px; /* Slider handle height */
    background: #198754; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: .25rem;
}
.algo-speed-slider{
    width: 48%;    
    text-align: center;
    background-color: #198754;
    color: #fff;
    font-weight: 400;
    vertical-align: middle;
    /* border: 1px solid transparent; */
    padding: .375rem .75rem;
    font-size: 1rem;
    /* border-radius: .25rem; */
}
.array-size-slider{
    width: 48%;
    text-align: center;
    background-color: #198754;
    color: #fff;
    font-weight: 400;
    vertical-align: middle;
    /* border: 1px solid transparent; */
    padding: .375rem .75rem;
    font-size: 1rem;
    /* border-radius: .25rem; */
}

/*********************** Code Section ***********************/
.code-block-div{
    padding: 10px;
    border: 1px solid slategray;
}
.algo-info-div{
    padding: 25px;
    border: 1px solid slategray;
}

/*********************** Quiz Section ***********************/


/* #quiz {

} */
#question {
  padding: 20px;
  background: snow;
  text-align: center;
}

#answer-choices-block input[type=radio] {
    display: none;
}
#answer-choices-block label {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  text-align: center;
  background: royalblue;
  color: snow;
  width: 100%;
  cursor: grab;
}
.correct-answer{
    background: green !important;
}
.incorrect-answer{
    background: red !important;
}

#answer-choices-block label:hover {
  background: powderblue;
}
#answer-choices-block input[type=radio]:checked + label {
  background: darkcyan;
  color:snow;
}
.answer-radio{
    border-radius: 5%;
}