@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');

/*********************** Colors Section ***********************/
.header-nav-menu-bg-color{
    background-color: #18A558;
}
.bar-chart-container-bg-color{
    background-color: snow;
}
.code-info-container-bg-color{
    background-color: snow;
}
.footer-menu-bg-color{
    background-color: #18A558;
}
/*********************** Header Section ***********************/
.company-logo{
    background: url("../images/Sorting-Visualiser-Logo.png");
    min-height: 100px;
    height: auto;
    width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    margin-left: calc(50% - 150px);
}

/*********************** Chart Section ***********************/
.single-bar{
    display: inline-block;
    margin: 10px 1px 0px 1px;
    width: 10px;
    height: 100px;
    background-color: #198754;
}

#bar-chart{
    margin-top: 50px;
    margin-bottom: 50px;
}
.no-padding {
    padding: 0 !important;
}

/*********************** Chart Buttons Section ***********************/
.gen-bars-button{
    width: 95%;
    margin-left: 10px;
}
.sort-bars-button{
    width: 95%;
    margin-left: 10px;
}
.select-algo-button{
    width: 95%;
    margin-left: 10px;
}
.select-algo-container{
    display: block;
}
.slidecontainer {
    width: 95%;
    margin-left: 10px;
    border: 1px solid #198754;
    background-color: #198754;
    border-radius: .25rem;
    height: 44px; /* Specified height */
}
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 50%; /* Full-width */
    height: 15px; /* Specified height */
    vertical-align: middle;
    background: snow; /* Grey background */
    outline: none; /* Remove outline */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: .25rem;
}
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: darkslategray; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 1rem;
}
.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: darkslategray; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 1rem;
}
.algo-speed-slider{
    width: 48%;    
    text-align: center;
    background-color: #198754;
    color: #fff;
    vertical-align: middle;
    padding: .375rem .75rem;
}
.array-size-slider{
    width: 48%;
    text-align: center;
    background-color: #198754;
    color: #fff;
    vertical-align: middle;
    padding: .375rem .75rem;
}

/*********************** Code Section ***********************/
.code-block-div{
    padding: 10px;
    border: 1px solid slategray;
}
.algo-info-div{
    padding: 25px;
    border: 1px solid slategray;
    font-size: 15px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

/*********************** Quiz Section ***********************/
#take-quiz-btn{
    width: 150px;
    margin-left: calc(50% - 75px);
    margin-top: 20px;
}
#question {
    padding: 22px;
    background: snow;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

#answer-choices-block input[type=radio] {
    display: none;
}
#answer-choices-block label { 
    display: inline-block;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
    background: royalblue;
    color: snow;
    font-size: 20px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    width: 100%;
    cursor: grab;
}
.correct-answer{
    background: green !important;
}
.incorrect-answer{
    background: red !important;
}

#answer-choices-block label:hover {
    background: powderblue;
}
#answer-choices-block input[type=radio]:checked + label {
    background: darkcyan;
    color:snow;
}
.answer-radio{
    border-radius: 5%;

}
#results-table th, td {
    border: 1px solid black;
}
.check-mark{
    color: green;
}
.cross-mark {
    color: red;
    font-size: 25px;
}
#nav-questions-block{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    display: flex;
}
#prev-question{
    padding:2px;
    width: 150px;
    box-shadow: 2px 2px darkslategray;
    margin-right: 1px;
}
#next-question{
    padding:2px;
    width: 150px;
    box-shadow: 2px 2px darkslategray;
    margin-left: 1px;
}
#answer-reveal-block{
    font-family: "Roboto", sans-serif;
}
#answer-reveal-block button{
    padding: 2px;
    height: 40px;
    width: 200px;
    margin-left: calc(50% - 100px);
}
#quiz-results-block{
    font-family: "Roboto", sans-serif;
    display: flex;
    margin-bottom: 10px;
    margin-left: calc(50% - 200px);
}
#quiz-results-block button{
    font-size: 20px;
    font-weight: 600;
    margin: 5px;
    padding: 2px;
    height: 40px;
    width: 200px;
}
/*********************** Footer Section ***********************/
footer{
    padding: 10px;
}
.developer-info{
    margin: 0;
    text-align: center;
}
.developer-info a i{
    font-size: 30px;
    width: 40px;
    height: 40px;
    color: black;
    padding: 5px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
}
.developer-info p{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    color: snow;
    text-align: center;
    text-shadow:1px 1px gray;
}
/*********************** General ***********************/
.text-center{
    text-align: center;
    font-size: 25px;
}
.button-text{
    font-size: 20px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
}
/*********************** Media Queries ***********************/

/*********** Smart Phones Only ***********/
@media screen and (max-width:575px){
    .code-block-div{
        font-size: 14px;
        padding: 0;
        margin: 0;
    }
        
    pre[class*="language-"] {
        padding: 0.2em !important;
        margin:1px !important;
    }
}
/*********** Tablets ***********/
@media screen and (max-width:577px){
    #quiz-results-block{
        margin-left: calc(50% - 150px);
    }
    #quiz-results-block button{
        width: 150px;
    }
} 

@media screen and (max-width:991px) and (min-width: 577px){
    #bar-chart {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .slidecontainer {
        width: 98.5%;
    }
} 

@media screen and (max-width:1250px){
    .button-text{
        font-size: 15px;
        font-weight: 800;
    }
    .slidecontainer {
        height: 36px; /* Specified height */
    }
}
/*********** Laptops & Desktops ***********/
@media screen and (min-width:768px){
    #prev-question{
        width: 200px;
        box-shadow: 2px 2px darkslategray;
        margin-right: 5px;
    }
    #next-question{
        width: 200px;
        box-shadow: 2px 2px darkslategray;
        margin-left: 5px;
    }
    #nav-questions-block{
        margin-left: calc(50% - 195px);
    }
}