@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');

/*********************** Colors Section ***********************/
.header-nav-menu-bg-color{
    background-color: #18A558;
}
.bar-chart-container-bg-color{
    background-color: snow;
}
.code-info-container-bg-color{
    background-color: snow;
}
.footer-menu-bg-color{
    background-color: #18A558;
}

/*********************** Header Section ***********************/
.company-logo{
    background: url("../images/sorting-visualiser-logo.png");
    min-height: 100px;
    height: auto;
    width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    margin-left: calc(50% - 150px);
}

/*********************** Chart Section ***********************/
.single-bar{
    display: inline-block;
    margin: 10px 1px 0px 1px;
    width: 10px;
    height: 100px;
    background-color: #198754;
}
#bar-chart{
    margin-top: 50px;
    margin-bottom: 50px;
}
.no-padding {
    padding: 0 !important;
}
#tutorial-help{
    font-size: 25px;
    color: #198754;
    padding: 0;
}
#tutorial{
    display: flex;
    float: right;
    margin-right: 20%;
}
.arrow-right{
    width: 0;
    height: 0;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: calc(25% - 10px);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid #198754;
}
.center-btn{
    justify-content:center !important;
}
.close-btn{
    font-size: 20px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;    
}
.display-none{
    display: none !important;
}
.display-flex{
    display: flex !important;
}
#tutorial-arrow{
    font-size: 20px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    background-color: #f5f2f0;
    border-radius: 10px;
}
#tutorial-arrow p{
    margin: 0;
    padding: 2px;
}

/*********************** Chart Buttons Section ***********************/
.gen-bars-button{
    width: 95%;
    margin-left: 10px;
}
.sort-bars-button{
    width: 95%;
    margin-left: 10px;
}
.select-algo-button{
    width: 95%;
    margin-left: 10px;
}
.select-algo-container{
    display: block;
}
.slidecontainer {
    width: 95%;
    margin-left: 10px;
    border: 1px solid #198754;
    background-color: #198754;
    border-radius: .25rem;
    height: 44px;
}
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 50%;
    height: 15px;
    vertical-align: middle;
    background: snow;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: .25rem;
}
.slider:hover {
    opacity: 0.7;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: darkslategray;
    cursor: pointer;
    border-radius: 1rem;
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: darkslategray;
    cursor: pointer;
    border-radius: 1rem;
}
.algo-speed-slider{
    width: 48%;    
    text-align: center;
    background-color: #198754;
    color: #fff;
    vertical-align: middle;
    padding: .375rem .75rem;
}
.array-size-slider{
    width: 48%;
    text-align: center;
    background-color: #198754;
    color: #fff;
    vertical-align: middle;
    padding: .375rem .75rem;
}
.disabled-div{
    color: #fff;
    background-color: #198754;
    border-color: #198754;
    opacity: .65;
}
/*********************** Code Section ***********************/
.code-block-div{
    padding: 10px;
    border: 1px solid slategray;
    border-radius: 10px;
    background-color: #f5f2f0;
}
.algo-info-div{
    background-color: #f5f2f0;
    padding: 25px;
    border: 1px solid slategray;
    border-radius: 10px;
    font-size: 20px;
    line-height: 2;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

/*********************** Quiz Section ***********************/
#take-quiz-btn{
    font-size: 20px;
    width: 150px;
    margin-left: calc(50% - 75px);
    margin-top: 20px;
}
#question{
    padding: 22px;
    background: #f5f2f0;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    border: 1px solid slategray;
    border-radius: 10px;
}
#answer-choices-block input[type=radio] {
    display: none;
}
#answer-choices-block label { 
    display: inline-block;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
    background-color: cornflowerblue;
    color: snow;
    font-size: 20px;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
    width: 100%;
    cursor: grab;
    border-radius:5px;
}
.correct-answer{
    background: rgb(0, 135, 35) !important;
}
.incorrect-answer{
    background: rgb(255, 70, 70) !important;
}
#answer-choices-block label:hover {
    background: coral;
}
#answer-choices-block input[type=radio]:checked + label {
    background: darkcyan;
    color:snow;
}
.answer-radio{
    border-radius: 5%;
}
#results-table th, td {
    padding:0 10px;
    border: 1px solid black;
    border-radius: 10px;
}
.check-mark{
    color: green;
    font-size: 50px
}
.cross-mark {
    color: red;
    font-size: 50px;
}
#nav-questions-block{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    display: flex;
}
#prev-question{
    padding:2px;
    width: 150px;
    box-shadow: 2px 2px darkslategray;
    margin-right: 5px;
}
#next-question{
    padding:2px;
    width: 150px;
    box-shadow: 2px 2px darkslategray;
    margin-left: 5px;
}
#answer-reveal-block{
    font-family: "Roboto", sans-serif;
}
#answer-reveal-block button{
    padding: 2px;
    height: 40px;
    width: 200px;
    margin-left: calc(50% - 100px);
}
.answer-reveal-text{
    padding: 10px ;
    background-color: #f5f2f0;
    border: 1px solid slategray;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}
#quiz-results-block{
    font-family: "Roboto", sans-serif;
    display: flex;
    margin-bottom: 10px;
    margin-left: calc(50% - 210px);
}
#quiz-results-block button{
    font-size: 20px;
    font-weight: 600;
    margin: 5px;
    padding: 2px;
    height: 40px;
    width: 200px;
}
#question-modal-result{
    font-size: 25px;
    font-weight: 600;
}
#question-modal-header{
    background-color: #18A558;
}
#quiz-header-modal{
    color:snow;
    background-color: #18A558;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    display: block !important;
}
#quiz-results-modal{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
}
#score-fraction{
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
    margin-top: 0;
}

/*********************** Footer Section ***********************/
footer{
    padding: 10px;
}
.developer-info{
    margin: 10px 0 10px 0;
    text-align: center;
}
.developer-info a i{
    font-size: 30px;
    width: 40px;
    height: 40px;
    color: black;
    padding: 5px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
}
.developer-info p{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    color: snow;
    text-align: center;
    text-shadow:1px 1px gray;
}

/*********************** General ***********************/
.text-center{
    text-align: center;
    font-size: 25px;
}
.button-text{
    font-size: 20px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
}
.horizontal-divider{
    background-color: slategray;
}
.horizontal-divider hr{
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0
}
.hover-buttons:hover {
  background-color: cornflowerblue;
  border-radius: 1rem;
}

/*********************** Select Algo Error Modal ***********************/
#no-algo-header-modal{
    color:snow;
    background-color: #18A558;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 700;
    padding: 10px;
    text-align: center; 
}
#no-algo-body-modal{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 20px;
    margin: 2px;
    border-radius: 10px;
    text-align: center;
}
/*********************** Instructions Modal ***********************/
.modal-body{
    padding: 0;
}
.instruction-header{
    color:snow;
    background-color: #18A558;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 700;
    padding: 10px;
    text-align: center;
}
.instructions-gif{
    margin: 1%;
    width: 98%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 2%;
}
.instruction-text{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 20px;
    margin: 2px;
    border-radius: 10px;
    text-align: center;
}
#gen-bars-gif{
    background-image: url("../images/gen-bars.gif");
}
#algo-select-gif{
    background-image: url("../images/algo-select.gif");
}
#start-stop-gif{
    background-image: url("../images/start-stop.gif");
}
#algo-speed-gif{
    background-image: url("../images/algo-speed.gif");
}
#array-size-gif{
    background-image: url("../images/array-size.gif");
}
.carousel-control-next-icon {
    background-color: black;
}
.carousel-control-prev-icon {
    background-color: black;
}
.carousel-control-next {
    position: relative;
    display: inline-block;
    left: 35%;
}
.carousel-control-prev {
    position: relative;
    display: inline-block;
    left: 35%;
}
.carousel-indicators {
    position: relative;
}
.carousel-indicators li {
    background-color: gray;
}
.carousel-item {
    transition: transform .3s ease-in;
}

/*********************** Media Queries ***********************/

/*********** Smart Phones Only ***********/
@media screen and (max-width:767px){
    #tutorial{
        margin-right:40%;
    }
    .code-block-div{
        font-size: 12px;
        padding: 0;
        width: 98%;
        margin: 1%;
    }
    .algo-info-div{
        width: 98%;
        margin: 1%;
    }  
    pre[class*="language-"] {
        padding: 0.2em !important;
        margin:1px !important;
    }
    .gen-bars-button{
        width: 96.5%;
    }
    .sort-bars-button{
        width: 96.5%;
    }
    .select-algo-button{
        width: 96.5%;
    }
    #quiz-results-block{
        margin-left: calc(50% - 160px);
    }
    #quiz-results-block button{
        width: 150px;
    }
    .slidecontainer{
        width: 96.5%;
    }
    #nav-questions-block{
        margin-left: calc(50% - 155px);
    }
    #bubble-sort-pre, #merge-sort-pre , #quick-sort-pre{
        background: none;
    }
}
@media screen and (max-width:500px){
    .instruction-header{
        font-size: 20px;
        padding: 5px;
    }
    .instructions-gif{
        height: 300px;
    }
    .instruction-text{
        font-size: 15px;
        padding: 10px;
    }
}
@media screen and (max-width:400px){
    #nav-questions-block{
        margin-left: calc(50% - 105px);
    }
    #prev-question{
        width: 100px;

    }
    #next-question{
        width: 100px;
    }
    .algo-info-div{
        font-size: 15px;
        line-height: 1.5;
        width: 95%;
        margin: 2.5%;
    }
    .code-block-div{
        width: 95%;
        margin: 2.5%;
    }
    #question{
        font-size: 15px;
    }
    #quiz-results-block{
        margin-left: calc(50% - 110px);
    }
    #quiz-results-block button{
        width: 100px;
        font-size: 15px;
    }
    .instructions-gif{
        height: 230px;
    }
}

/*********** Tablets ***********/
@media screen and (max-width:991px) and (min-width: 768px){
    #bar-chart {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .code-block-div{
        width: 98%;
        margin: 1%;
    }
    .algo-info-div{
        width: 98%;
        margin: 1%;
    }
    .slidecontainer{
        width: 99%;
    }
} 

/*********** Laptops & Desktops ***********/
@media screen and (max-width:1250px){
    .button-text{
        font-size: 15px;
        font-weight: 800;
    }
    .slidecontainer {
        height: 36px;
    }
}
@media screen and (min-width:768px){
    #prev-question{
        width: 200px;
        box-shadow: 2px 2px darkslategray;
        margin-right: 5px;
    }
    #next-question{
        width: 200px;
        box-shadow: 2px 2px darkslategray;
        margin-left: 5px;
    }
    #nav-questions-block{
        margin-left: calc(50% - 205px);
    }
}
@media screen and (min-width:992px){
    .algo-info-div{
        font-size: 20px;
        line-height: 1.75;
        border-left: none;
    }
}
@media screen and (max-width:991px){
    .gen-bars-button{
        width: 96.5%;
    }
    .sort-bars-button{
        width: 96.5%;
    }
    .select-algo-button{
        width: 96.5%;
    }
}